# Virtual Environment
venv/
env/
.venv/

# Python / Django
__pycache__/
*.py[cod]
db.sqlite3
staticfiles/
media/

# Frontend / Node
node_modules/
dist/
.env
.env.local

# IDEs & System
.vscode/
.idea/
.DS_Store