# Backend Production Environment Variables
# Copy these to Render / Railway Environment Variables dashboard

DEBUG=False
SECRET_KEY=jXE5rtp2SMIG-K-cE8UAfxI4YSTtI6li_ceCHGuzVOY09epeZSjFwSsYop4kTZlVvgs
DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<dbname>
FRONTEND_URL=https://<your-project>.vercel.app
ALLOWED_HOSTS=*
PYTHON_VERSION=3.11.0
